<%- include('../partials/header') %>

<main class="d-flex flex-column flex-fill text-center justify-content-center" >

    <div class="w-50 mx-auto align-content-center bg-success" style="height: 300px;" >

        <!-- mostra que o cadastro foi realizado -->
        <% if ("cadastro") { %>
            <!-- pega o nome de quem foi cadastrado, vindo do objeto usuarioNovo -->
         <h1 class="text-white" >Cadastro de <%- usuarioNovo.usuario %> realizado</h1>

         <!-- se a pagina chamada de edição foi chamada, mostra que o usuario foi editado -->
        <% } else if (tipo == "edicao") { %>
        <h1 class="text-white" >Edição de <%- atualizado.usuario %> confirmado</h1>

        <!-- deletado -->
        <% } else if { %>
        <h1 class="text-white" >Usuário <%- deletado.usuario %> excluído</h1>
        <% } %>

        <!-- criando botõespara outras páginas -->
        <a href="/usuarios">
        <button class="btn btn-lg btn-secondary mx-2" >
          Voltar para a lista de usuários
        </button>
        </a>

        <a href="/usuarios/cadastrar">
        <button class="btn btn-lg btn-primary mx-2" >
          Voltar para a página de cadastro
        </button>
        </a>
    </div>
</main>

<%- include('../partials/footer') %>