<%- include('../partials/header')%>

<main class="d-flex flex-column flex-fill text-center justify-content-center">
  <div
    class="bg-success w-50 mx-auto align-content-center"
    style="height: 300px"
  >
    <% if (tipo == "cadastro") { %>
    <h1 class="text-white">
      Cadastro de <%- produtoNovo.nome %> confirmado
    </h1>

    <% } else if (tipo == "edicao") { %>
      <h1 class="text-white">
        Edição de <%=  produtoAtualizado.nome %> confirmado
      </h1>
    <% } else { %>
      <h1 class="text-white">
        Produto <%- deletado.nome %> foi deletado
      </h1>
    <% } %>

    <a href="/produtos">
      <button class="btn btn-lg btn-secondary mx-2">
        Voltar para lista de produtos
      </button>
    </a>
    <a href="/produtos/cadastrar">
      <button class="btn btn-lg btn-primary mx-2">
        Voltar para cadastro de produtos
      </button>
    </a>
  </div>
</main>

<%- include('../partials/footer') %>