<%- include('../partials/header') %>

   <main class="container text-center mt-3">
   <h1>LISTA DE PRODUTOS</h1>
   <a href="/produtos/cadastrar">
    <button class="btn btn-lg btn-primary">
      <i class="bi bi-bookmark-heart"></i>
      Cadastrar
    </button>
  </a>
  
  <div class=" d-flex flex-row flex-wrap gap-3">
<% if (produtos && produtos.length > 0) { %>
    <% produtos.forEach((produto) => { %>
 <div class="card text-bg-light mb-3 mt-3" style="width: 18rem;"> 
 <img  height="275" src="<%= produto.imagem %>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title"><%= produto.nome %></h5>
    <p class="card-text"><b>Descrição:</b> <%= produto.descricao %></p>
    <p class="card-text"><b>Preço:</b> <%= produto.preco %></p>
    <p class="card-text"><b>Quantidade:</b> <%= produto.quantidade %></p>
    <p class="card-text"><b>Categoria:</b> <%= produto.categoria %></p>
  </div>
  <div class="card-body">
 <a href="/produtos/<%= produto.id %>" style="text-decoration: none;">
    <button class="btn btn-sm btn-warning ">
    <i class="bi bi-pencil-square"></i>
      Editar
    </button>
    </a>
    <a href="#">
    <button
    class="btn btn-sm btn-danger"
    onclick="confirmaExclusao('<%= produto.produto%>', '<%= produto.id%>')"
    >
    <i class="bi bi-trash3"></i>
     Excluir
    </button>
    </a>

  </div>
</div>
    <% }) %> 
   <% } else { %>
  <div class="alert alert-warning text-center mt-5">
    Nenhum Produto cadastrado no momento.
  </div>
  <% } %>
</div>
  <script>
    function confirmaExclusao(nomeProduto, id) {
      if (confirm(`Deseja realmente excluir o produto ${nomeProduto}`)) {
        window.location.href = `/produtos/deletar/${id}`;
      }
    }
  </script>
</main>

<%- include('../partials/footer') %>
